.container{
    background-color:#f0f0f0; 
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:rgb(133, 120, 120);
    height:100vh;
    margin:0;
}
.container{
    text-align:center;
    background-color: antiquewhite;
    padding:2em;
    box-shadow:0.0.10px black;
    border-radius: 10px;
}
button{
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border:none;
    background-color: rgb(127, 133, 255);
    cursor:pointer;
    
}
button:hover{
    background-color: blue;
    
}

